/*fixtures / general*/
.Opta{
	font-family: "Gilroy";
	/*font-size: 14px;
	font-weight: 500;*/
}

.Opta .Opta-H2, .Opta h2{
	background-color: #1f1f1f;

	/*.text-under-video*/
/*	font-size: 18px;
	line-height: 26px;
	padding-top: 10px;
	font-weight: 600;*/

	margin: 0 0 4px;
}

.Opta .Opta-H2 .Opta-Title, .Opta .Opta-H2 .Opta-Title-Extra, .Opta h2 .Opta-Title, .Opta h2 .Opta-Title-Extra {
	/*width: 100%;*/
	/*font-size: 14px;*/
	font-size: 18px;
	/*font-weight: bold;*/
	font-weight: 600;
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
}

.Opta .Opta-Nav li {
	float: left;
	clear: none;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}
.Opta .Opta-Nav a {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	/*font-size: 12px;*/
	font-size: 14px;
	font-weight: 500;

	background-color: #e6e6e6;
	color: #404040;
	cursor: pointer;
	text-decoration: none;
}
.Opta .Opta-Nav a:hover {
	/*background-color: unset;*/
	/*background-color: #404040;*/
	/*color: #de2508;*/

	background-color: #de2508;
	color: #fff;
}
.Opta .Opta-Nav li.Opta-On a {
	color: #fff;
	/*color: #de2508;*/
	/*background-color: #117ea9;*/
	background-color: #1f1f1f;
}
.Opta .Opta-Nav li.Opta-On a:hover {
	/*background-color: #006590;*/
	background-color: #404040;
	 /* color: #de2508;*/
}

.Opta-Scroller{
	/*height: 30px!important;*/
	/*top: 5px!important;*/
	/*margin: 5px!important;*/
	/*border-radius: 50%;*/
	/*background-color: #fc0;*/
}
.Opta_AFL .Opta-Scroller{
	/*background-color: #0f0;*/
}
.Opta-Nav .Opta-Scroller{
	/*background-color: #00f;*/
}
.Opta-Nav .Opta_AFL .Opta-Scroller{
	/*background-color: #f00;*/
}
.Opta .Opta-Tabs.Opta-TabsScroll .Opta-Nav .Opta-Scroller{
	/*background-color: rgba(255,0,255,0.25);*/
}
.Opta .Opta-Tabs.Opta-TabsScroll .Opta-Nav .Opta-Scroller.Opta-Active{
	/*background-color: #f0f;*/
	/*background-color: rgba(255,0,255,0.5);*/
	background-color: #1f1f1f;
}




.Opta div, .Opta span, .Opta h2, .Opta h3, .Opta h4, .Opta p, .Opta a, .Opta abbr, .Opta img, .Opta dl, .Opta dt, .Opta dd, .Opta ul, .Opta ol, .Opta li, .Opta form, .Opta fieldset, .Opta figure, .Opta figcaption, .Opta label, .Opta legend, .Opta table, .Opta tbody, .Opta thead, .Opta tfoot, .Opta tr, .Opta th, .Opta td, .Opta canvas {
	font-size: 14px;
	font-weight: 500;
}


.Opta .Opta-Tabs.Opta-TabsScroll .Opta-Nav{
	margin: 0 0 4px;
}

.Opta .Opta_F_F.Opta_F_F_N .Opta-fixture{
	border-top: 1px solid #e6e6e6;
}

.Opta .Opta_F_F.Opta_F_F_N .Opta-fixture:last-child{
	border-bottom: 1px solid #e6e6e6;
}
/*fixtures / general*/


/*match summary*/
.Opta .Opta-MatchHeader .Opta-Score .Opta-Team-Score {
	/*left block / home team*/
	float: right;
	font-size: 20px;
	background-color: #02a6a6;
	color: #fff;
	padding: 6px;
	min-width: 32px;
	text-align: center;
}
.Opta .Opta-MatchHeader .Opta-Score.Opta-Away .Opta-Team-Score {
	/*right block / away team*/
	float: left;
	background-color: #215454;
}

/*elements with{
	background-color: #0d5f78
}*/
/*found inside .Opta-Cf*/
.Opta .Opta-Dropdown > .Opta-Nav h3 {
	background-color: #0d5f78;
	color: #fff;
}
.Opta .Opta_W .Opta-Tooltip h3 {/*match summary tooltip header*/
	/*background-color: #0d5f78;*/
	background-color: #1f1f1f;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.Opta .Opta_C_M_N .Opta-Tooltip .Opta-Tooltip-header {
	width: 100%;
	/*background-color: #0d5f78;*/
	background-color: #0f0;
	color: #fff;
	padding: 10px;
	padding-bottom: 0;
}
.Opta_F_GR_N .Opta-Overlay h3 {
	background-color: #0d5f78;
	color: #fff;
	text-align: center;
	font-size: 14px;
	border-bottom: none;
	padding: 0 10px;
	white-space: nowrap;
}
.Opta_F_MA .Opta-Overlay h3 {
	background-color: #0d5f78;
	color: #fff;
	text-align: center;
	font-size: 14px;
	border-bottom: none;
	padding: 0 10px;
	white-space: nowrap;
}



.Opta .Opta-MatchHeader .Opta-Score .Opta-Team-Score {
    /*float: right;*/
    /*font-size: 20px;*/
    background-color: #02a6a6;
    background-color: #1f1f1f;
    /*color: #fff;*/
    /*padding: 6px;*/
    /*min-width: 32px;*/
    /*text-align: center;*/
}
.Opta .Opta-MatchHeader .Opta-Score.Opta-Away .Opta-Team-Score {
    /*float: left;*/
    /*background-color: #215454;*/
    background-color: #1f1f1f;
}
/*match summary*/


/*standings*/
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortDown, 
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp {
    /*background-color: #117ea9;*/
    background-color: #1f1f1f;
    /*color: #fff;*/
}
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortDown:hover, 
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp:hover {
    /*background-color: #117ea9;*/
    background-color: #1f1f1f;
    /*color: #fff;*/
}



/*sort control*/
/*secondary controls*/
.Opta table thead th.Opta-Sort .Opta-Sort-Control:before,
.Opta table thead th.Opta-Sort .Opta-Sort-Control:after {
    position: absolute;
    content: "";
    top: calc(50% - 12px);
    right: -18px;
    border: 5px solid transparent;
    border-bottom-color: gray;
}
.Opta table thead th.Opta-Sort .Opta-Sort-Control:after {
    top: 50%;
    border-bottom-color: transparent;
    border-top-color: gray;
}
/*secondary controls*/
/*.Opta table thead th.Opta-Sort .Opta-Sort-Control.Opta-IconYellow:before,
.Opta table thead th.Opta-Sort .Opta-Sort-Control.Opta-IconYellow:after,
.Opta table thead th.Opta-Sort .Opta-Sort-Control.Opta-IconRed:before,
.Opta table thead th.Opta-Sort .Opta-Sort-Control.Opta-IconRed:after {
    right: -4px;
}*/

/*"Pos" sort bg colour*/
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortDown,
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp {
    /*background-color: #117ea9;*/
    background-color: #1f1f1f;
    /*background-color: #de2508;*/
    color: #fff;
}
/*"Pos" sort bg colour*/

.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortDown .Opta-Sort-Control:before,
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp .Opta-Sort-Control:before {
    /*border-bottom-color: #94c1d4;*/
    border-bottom-color: #de2508;
    border-bottom-color: #fff;
    /*border-bottom-color: #1f1f1f;*/
}
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortDown .Opta-Sort-Control:after,
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp .Opta-Sort-Control:after {
    border-top-color: #fff;
    border-top-color: #aaa;
}

/*"Pos" sort bg colour*/
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortDown:hover,
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp:hover {
    /*background-color: #006590;*/
    background-color: #2f2f2f;
}
/*"Pos" sort bg colour*/

.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp .Opta-Sort-Control:before {
    border-bottom-color: #fff;
    border-bottom-color: #aaa;
}
.Opta table thead th.Opta-Sort.Opta-Sort-HeaderSortUp .Opta-Sort-Control:after {
    /*border-top-color: #94c1d4;*/
    border-top-color: #de2508;
    border-top-color: #fff;
    /*border-top-color: #1f1f1f;*/

}
/*sort control*/
/*border-bottom-color: #de2508;*/
/*standings*/

/*live*/
.Opta .Opta_F_OF.Opta_F_OF_N .Opta-live .Opta-Outer span, 
.Opta .Opta_F_OF.Opta_F_F_N .Opta-live .Opta-Outer span, 
.Opta .Opta_F_F.Opta_F_OF_N .Opta-live .Opta-Outer span, 
.Opta .Opta_F_F.Opta_F_F_N .Opta-live .Opta-Outer span {
    color: #de2508;
}

.Opta-Live span.Opta-Live {
    position: relative;
    height: 22px;
    line-height: 22px;
    background-color: #de2508;
    font-weight: bold;
    padding: 0px 6px 2px 18px;
    margin-left: 10px;
    font-size: 12px;
    min-width: 50px;
}
/*live*/



/*OPTA LOADER*/
.Opta p.Opta-Load {
    background: #fff url("../assets/images/loader.svg") no-repeat center 50px;
    /*text-align: center;*/
    /*padding: 20px 10px 40px 10px;*/
    /*border: none;*/
    /*margin: 10px 0;*/
}
/*.Opta-Nest .Opta p.Opta-Load {
    border: none;
    background-position: center 0px;
    padding: 0 10px;
    text-indent: -9999px;
}
.Opta p.Opta-Load {
    color: #404040;
}
.Opta .Opta_BB_SB_G .Opta-Load {
    width: 100%;
}
.Opta .Opta_F_LA .Opta-nestcontainer .Opta-Load,
.Opta .Opta_F_LA .Opta-nestcontainer .Opta_W.Opta-Error {
    display: none;
}
.Opta .Opta_F_LA .Opta-Overlay .Opta p.Opta-Load {
    background: none;
}
.Opta-Nest.Opta-countdownoverlay p.Opta-Load {
    display: none;
}
.Opta .Opta_U_DVI_N .Opta-Load,
.Opta .Opta_U_DVI_C .Opta-Load {
    width: 100%;
    background-position: center 0;
    padding: 20px 0 0;
}
.Opta .Opta_U_VI_N .Opta-Load,
.Opta .Opta_U_VI_C .Opta-Load {
    width: 100%;
    background-position: center 0;
    padding: 20px 0 0;
}*/
/*OPTA LOADER*/